<h2>Settings</h2>

<div id="settingsBody">
    <span class="title">Display Name:</span>

    <div ng-if="edit.name" class="data">
        <input ng-model="user.name" type="text" placeholder="Display Name">
    </div>
    <div ng-if="!edit.name" class="data">
        {{user.name}} <span class="glyphicon glyphicon-edit" ng-click="edit.name=true"></span>
    </div>

    <div id="settingsLocations" class="settingsGroups">
        <span class="title">Home Address:</span>

        <div ng-if="edit.home" class="data">
            <input ng-model="user.locations.home.address" ng-autocomplete type="text" placeholder="Full address or just zip for weather" details="details.home">
            <p>Get weather updates <input type="checkbox" ng-model="user.locations.home.weatherUpdates" /></p>
        </div>
        <div ng-if="!edit.home" class="data">
            {{user.locations.home.address}} <span class="glyphicon glyphicon-edit" ng-click="edit.home=true"></span>
            <p>Get weather updates <input type="checkbox" ng-model="user.locations.home.weatherUpdates"></p>
        </div>

        <span class="title">Work Address:</span>

        <div ng-if="edit.work" class="data">
            <input ng-model="user.locations.work.address" ng-autocomplete type="text" placeholder="Full address or just zip for weather" details="details.work">
            <p>Get weather updates <input type="checkbox" ng-model="user.locations.work.weatherUpdates"></p>
            <p>Get travel times <input type="checkbox" ng-model="user.locations.work.travelTimes"></p>
            <div ng-if="user.locations.work.travelTimes">Hours</div>
        </div>
        <div ng-if="!edit.work" class="data">
            {{user.locations.work.address}} <span class="glyphicon glyphicon-edit" ng-click="edit.work=true"></span>
            <p>Get weather updates <input type="checkbox" ng-model="user.locations.work.weatherUpdates"></p>
            <p>Get travel times <input type="checkbox" ng-model="user.settings.travel.updates"></p>
            <div ng-show="user.settings.travel.updates" class="trTi">
                <span>Work Hours</span> <span class="glyphicon glyphicon-edit" ng-click="edit.travel=true" ng-if="!edit.travel"></span>
                <div id="workTimes">
                    <div>
                        <span>Sunday</span>
                        <time-picker day="0" ng-show="edit.travel['0']"></time-picker>
                        <span ng-if="!edit.travel['0'] && user.settings.travel.days['0'].start != ''" class="timeEdit">
                            <span class="tStart">{{days['0'].start}}</span> <span class="tTo">to</span> <span class="tEnd">{{user.settings.travel.days['0'].end}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="days['0'].start = ''; days['0'].end = '';edit.travel['0']=true"></span>
                        </span>
                    </div>
                    <div>
                        <span>Monday</span>
                        <time-picker day="1" ng-show="edit.travel['1']"></time-picker>
                        <span ng-if="!edit.travel['1'] && user.settings.travel.days['1'].start != ''" class="timeEdit">
                            <span class="tStart">{{days['1'].start}}</span> <span class="tTo">to</span> <span class="tEnd">{{user.settings.travel.days['1'].end}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="days['1'].start = ''; days['1'].end = '';edit.travel['1']=true"></span>
                        </span>
                    </div>
                    <div>
                        <span>Tuesday</span>
                        <time-picker day="2" ng-show="edit.travel['2']"></time-picker>
                        <span ng-if="!edit.travel['2'] && user.settings.travel.days['2'].start != ''" class="timeEdit">
                            <span class="tStart">{{days['2'].start}}</span> <span class="tTo">to</span> <span class="tEnd">{{user.settings.travel.days['2'].end}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="days['2'].start = ''; days['2'].end = '';edit.travel['2']=true"></span>
                        </span>
                    </div>
                    <div>
                        <span>Wednesday</span>
                        <time-picker day="3" ng-show="edit.travel['3']"></time-picker>
                        <span ng-if="!edit.travel['3'] && user.settings.travel.days['3'].start != ''" class="timeEdit">
                            <span class="tStart">{{days['3'].start}}</span> <span class="tTo">to</span> <span class="tEnd">{{user.settings.travel.days['3'].end}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="days['3'].start = ''; days['3'].end = '';edit.travel['3']=true"></span>
                        </span>
                    </div>
                    <div>
                        <span>Thursday</span>
                        <time-picker day="4" ng-show="edit.travel['4']"></time-picker>
                        <span ng-if="!edit.travel['4'] && user.settings.travel.days['4'].start != ''" class="timeEdit">
                            <span class="tStart">{{days['4'].start}}</span> <span class="tTo">to</span> <span class="tEnd">{{user.settings.travel.days['4'].end}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="days['4'].start = ''; days['4'].end = '';edit.travel['4']=true"></span>
                        </span>
                    </div>
                    <div>
                        <span>Friday</span>
                        <time-picker day="5" ng-show="edit.travel['5']"></time-picker>
                        <span ng-if="!edit.travel['5'] && user.settings.travel.days['5'].start != ''" class="timeEdit">
                            <span class="tStart">{{days['5'].start}}</span> <span class="tTo">to</span> <span class="tEnd">{{user.settings.travel.days['5'].end}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="days['5'].start = ''; days['5'].end = '';edit.travel['5']=true"></span>
                        </span>
                    </div>
                    <div>
                        <span>Saturday</span>
                        <time-picker day="6" ng-show="edit.travel['6']"></time-picker>
                        <span ng-if="!edit.travel['6'] && user.settings.travel.days['6'].start != ''" class="timeEdit">
                            <span class="tStart">{{days['6'].start}}</span> <span class="tTo">to</span> <span class="tEnd">{{user.settings.travel.days['6'].end}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="days['6'].start = ''; days['6'].end = '';edit.travel['6']=true"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="settingsNews" class="settingsGroups">
        <span class="title">News:</span>

        <p class="data">Get news updates <input type="checkbox" ng-model="user.settings.news.updates"></p>
        <div id="newsCategories" ng-show="user.settings.news.updates">
            <div class="data">Updates for:
                <div id="newsPicker">
                    <p><input type="checkbox" ng-model="user.settings.news.categories.home"> U.S.</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.world"> World</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.politics"> Politics</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.business"> Business</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.opinion"> Opinion</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.technology"> Technology</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.health"> Health</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.sports"> Sports</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.arts"> Arts</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.fashion"> Fashion</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.dining"> Dining</p>
                    <p><input type="checkbox" ng-model="user.settings.news.categories.travel"> Travel</p>
                </div>
            </div>
        </div>
    </div>
</div>
